:host ::ng-deep .mat-slider-thumb-label-text {
  font-size: 10px;
}

:host ::ng-deep .mat-slider-track-background {
  background-color: #CCD1D1;
}

mat-slider {
  width: 500px;
  background-color: #EAEDED;
}

#header-text {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#flex-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#clock {
  margin-block-start: 0em;
  margin-bottom: 1em;
}
