:host ::ng-deep .mat-slider-thumb-label-text {
  font-size: 10px;
}

:host ::ng-deep .mat-slider-track-background {
  background-color: #CCD1D1;
}

mat-slider {
  width: 500px;
  background-color: #EAEDED;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;                                     
}

#clock {
  margin: 15px;
}
